.contact{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url('./pics/Photo\ by\ Ricardo\ Resende\ on\ Unsplash.jpg');
}

.contactbox{
    height: 70vh;
    width: 70%;
    margin: 5%;
    box-shadow: 0 0 10px 0 grey;
    background-size: cover;
    border-radius: 10px;
    background: rgba(109, 89, 74, 0.2);
    box-shadow: 0 8px 32px 0 rgba(12, 12, 15, 0.37);
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 2.5px );
    display: flex;
    padding: 10px;
}

.contactBox1{
    height: 68vh;
    width: 40%;
    padding: 10px;
    color: white;
}

.contactBox2{
    height: 68vh;
    width: 60%;
    padding: 10px;
    color: white;
}

.boxes{
    display: flex;
    padding: 0px;
    gap: 30px;
    margin: 40px;
}

.boxes button{
    height: 7vh;
    width: auto;
    padding: 10px;
    margin-left: 10px;
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: 0 0 3px 0;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #c26023;
}

.boxes button:hover{
    background-color: black;
}


.boxes a{
    color: white;
    text-decoration: none;
}

.boxes a:hover {
    text-decoration: none;
    color: #c26023;
  }

.contact .icon{
    height: 7vh;
    width: 15%;
    float: right;
    border-radius: 10px;
    margin-top: -50px;
    background: rgba(109, 89, 74, 0.2);
    box-shadow: 0 8px 32px 0 rgba(12, 12, 15, 0.37);
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 2.5px );
}


.icon a{
    color: white;
    text-decoration: none;
}

.icon a:hover {
    text-decoration: none;
    color: #c26023;
  }

.contactBox2 .contactBox2_Content{
    height: 50vh;
    width: 90%;
    margin: 5%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.contactBox2_Content button{
    width: 100%;
    background-color: #c26023;
    border-radius: 10px;
    border: none;
    color: white;
}

.contactBox2_Content button:hover{
    color: #c26023;
    cursor: pointer;
    background-color: black;
}
